# NECESSARY PARAMETERS
pdb = '../traj/truncated.pdb'		# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../traj/Truncated/'	# Local or Global position of the directory where trajectories are located
start = 1				  # the integer of the trajectory that will be first to be analyzed
end = 2				    # the integer of the trajectory that will be last to be analyzed
Wrapped = True
outputname_ang = '001.002.3evg_gtp_sah_wt_1.unique_angle_calc.ang.dat'
selection_file = 'sel_list.py'

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS FOR DENGUE NS5
important = 'protein and resname GTP and resname SAH and resname MG'

# OUTPUT PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = '001.002.3evg_gtp_sah_wt_1.unique_angle_calc.summary'
selection_output = 'sel_list.out'